.orderPopup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 48px 64px;
  border-radius: 24px;
  background: #fff;
  .category {
    font-size: 16px;
    line-height: 24px;
    opacity: 0.5;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  .productName {
    margin-top: 8px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.02em;
  }
  .price {
    display: flex;
    margin-top: 22px;
    .dollarIcon {
      display: inline-block;
      margin: 13px 4px 24px 0;
      width: 17px;
      height: 35px;
    }
    .priceNumber {
      font-size: 60px;
      line-height: 72px;
      letter-spacing: -0.02em;
    }
  }
  .closeForm {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: translate(10px, -10px);
    background: #f2f2f2;
    border-radius: 50%;
  }
}
